@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

/* My global var*/
:root{
    --primary-text-color: rgb(204, 160, 0);
    --primary-link-color: rgb(0, 53, 102);
    --primary-text-font: 'Goldman';
    --logo-font: 'Satisfy', cursive;
    --footer-color: rgb(0, 8, 20); 
    --header-color: rgb(245, 204, 0);
}

/* Default body */
*,
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
}

/* Header styling */
header{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 15vh;
}

header h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-text-font);
    font-size: clamp(1.7rem, 3.1vw, 2.4rem );
    border-bottom: 1px solid var(--primary-link-color);
}

/* Navigation*/

nav{
    background: var(--footer-color);
    display: none;
    display: relative;
    width: 100%;
    margin: 1.5em auto;
}

nav ul{
    width: 85%;
    margin: 10px auto;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap:1.65em;
    vertical-align: center;
}

nav li{  
    border: 2px solid var(--primary-link-color);
    font-family: var(--primary-text-font);
    background-image: url(./img/background2.jpg);
    background-size: contain;
    margin-bottom: 4px;
}

nav li:last-child{
    margin-right: 8px;
}

nav li:hover{
    background-color: white;
    transform: scale(1.5);
    border: 1px white solid;
    border-radius: 1.5em;
}

nav a{
    font-size: clamp(1rem, 3.1vw, 1.5rem);;
    color: white;
    text-decoration: none;
    font-family: var(--primary-text-font);
}

nav a:hover{
    color: var(--primary-text-color);
}

/* 
    Toggle styling css only
*/
.nav-toggle{
    display: none;
}

.nav-toggle:checked ~ nav{
    display: flex;
    margin: 1.5em auto;
}

.nav-toggle-label{
    position: absolute;
    top: 0px;
    left: 10px;
    display: flex;
    align-items: flex-start;
    height: 10%;
    cursor: pointer;
    margin-top:15px
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background-color: var(--footer-color);
    height: 3px;
    width: 2em;
    border-radius: 2em;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content:"";
    position: absolute;
    height: 3px;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

/* Main */
main{
    position: relative;
    margin: 0 auto;
    width: 85%;
}

/* introduction*/
.intro-grid{
    display: grid;
    grid-template: 
        "img title"
        "img content" / minmax(min-content, 2fr) minmax(min-content, 4fr);
    background-image: url("./img/background2.jpg");  
    background-attachment: fixed;   
    height: min(50vh, 10%);
    grid-column-gap: 1.5em;
    padding: 0.85rem;
    width: 100%;
    border-radius: 1.5em;
    box-shadow: 0px 0px 6px 5px  #003566;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.intro-img{
    grid-area: img;
    width: 100%;
    background: none;
    border-radius: 1.5em;
    opacity: 0.9;
}

.intro-title{
    margin-top: 1.25rem;
    grid-area: title;
    background: none;
    color: var(--primary-text-color);
    font-size: clamp(2rem, 5vw, 20rem);
    font-family: var(--primary-text-font);
}

.intro-text{
    grid-area: content;
    background: none;
    color: white;
    font-size: clamp(.8rem, 2vw, 1.5rem);
    font-weight: bold;
    line-height: 1.6rem;
    margin: 0;
    font-family: var(--primary-text-font);
}

@media screen and (max-width: 870px) {
    .intro-img{
       display: none;
    }

    .intro-grid{
        display: grid;
        grid-template: 
            "title"
            "content" / auto ;
        background-image: url("./img/background2.jpg");        
        height: min(50vh, 10%);
        grid-column-gap: 1.5em;
        padding: 1.25rem;
        width: 100%;
        border-radius: 1.5em;
        box-shadow: 0px 0px 6px 5px  #003566;
    }

    .intro-title{
        margin: 0;
        grid-area: title;
        background: none;
        color: #CCA000;
        font-size: clamp(3rem, 5vw, 20rem);
        font-family: var(--primary-text-font);
    }

    .intro-title::before{
        content: "> console.log(greeting);";
        display: block;
        font-size: clamp(.1rem,5vw, 0.42rem) ;
        color: white;
        background: transparent;
        line-height: 1.6rem;
        margin: 0;

    }

    .intro-text{
        grid-area: content;
        background: none;
        color: white;
        font-size: clamp(1rem, 2vw, 1.5rem);
        font-weight: bold;
    }
}

/* My experience */
.experience-grid{
    display: grid;
    grid-template: 
        "text project" / 40% 60%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    position: relative;
    gap: 1.5em;
}


.intro-experience{
    grid-area: text;
    min-width: min-content;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.intro-experience h2{
    color: var(--primary-text-color);
    font-family: var(--primary-text-font);
    font-size: clamp(1.5rem, 3vw, 10rem);
}

.intro-experience h2::after{
    content: "";
    display: block;
    width: 98%;
    background: var(--primary-link-color);
    height: 10px;
}

.my-experience-grid{
    display: grid;
    grid-template:
        "prof"
        "study";
    gap: .5em;
    height: 100%;
}

.work-experience{
    grid-area: prof;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-link-color);
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 1.5rem;
    border: 3px solid var(--primary-link-color);
}

.work-experience:hover{
    background-image: url("./img/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--primary-text-color);
    font-size: 4rem;
    font-weight: bolder;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
}

.student-experience{
    grid-area: study;
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-link-color);
    border-radius: clamp(1.5rem, 1.1vw, 5rem);
    font-size: 1.5rem;
    font-weight: bolder;
    border: 3px solid var(--primary-link-color);
}

.student-experience:hover{
    background-image: url("./img/background2.jpg") ;
    color: var(--primary-text-color);
    font-size: 4rem;
    font-weight: bolder;
    border: none;
    opacity: 0.9;
}

/* Projects grid */
.projects-banner{
    background-image: url("./img/background2.jpg");
    background-position: center center ;
    background-attachment: fixed;
    border-radius: 1.5em;
    box-shadow: 0px 0px 6px 5px  #003566;
    margin-top: 1.5rem;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.projects-header{
    font-size: clamp(3rem, 5vw, 10rem);
    text-align: right;
    color: var(--primary-text-color);
    font-family: var(--primary-text-font);
    margin-right: 1.75rem;
}

.projects-grid-memory{
    display: grid;
    grid-template: 
        "text proj" / 50%;
    width: 85%;
    margin: 1rem auto;
    position: relative;
    padding: 1.5em;
    border-bottom: 2px solid var(--footer-color) ;
    gap: 1.5rem;
}

.project-memory{
    grid-area: proj;
    width: 100%;
}

.project-img-memory{
    max-width: 100%;
    vertical-align: center;
}

.project-text-memory{
    grid-area: text;
    width: 100%;
    color: black;
    font-family: var(--primary-text-font);
    font-size: clamp(.9rem, 1.7vw, 3rem);
    display: flex;
    align-items: center;
    text-align: center;
}

.projects-grid{
    display: grid;
    grid-template: 
        "proj text" / 50%;
    width: 85%;
    margin: 1rem auto;
    position: relative;
    padding: 1.5em;
    border-bottom: 2px solid var(--footer-color) ;
}

.project-calc{
    width: 100%;
    grid-area: proj;
}

.project-img-calc{
    max-width: 50%;
}

.project-text-calc{
    grid-area: text;
    width: 100%;
    color: black;
    font-family: var(--primary-text-font);
    font-size: clamp(.9rem, 1.7vw, 3rem);
    display: flex;
    align-items: center;
    text-align: center;
}

.project-text-calc:hover{
    animation: textshade 1.5s  0.2s ease-in;
}

@keyframes textshade{
    from{
        filter: drop-shadow( 0px 10px 2px var(--footer-color));
    }

    50%{
        filter: drop-shadow( 30px 40px 2px var(--footer-color));
        color: var(--primary-link-color)
    }
    to{
       
    }
}

.projects-grid-hl{
    display: grid;
    grid-template: 
        "text proj" / 50%;
    width: 85%;
    margin: 1rem auto;
    position: relative;
    padding: 1.5em;
    border-bottom: 2px solid var(--footer-color) ;
    gap: 1.5rem;

}

.project-hl{
    width: 100%;
    grid-area: proj;
}

.project-img-hl{
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.project-text-hl{
    grid-area: text;
    width: 100%;
    color: black;
    font-family: var(--primary-text-font);
    font-size: clamp(.9rem, 1.7vw, 3rem);
    display: flex;
    align-items: center;
    text-align: center;
}

/* Styling footer */
footer{
    color: var(--primary-text-color);
    font-size: clamp(1rem, 1.1vw, 1.5rem);
    height: 20vh;
    background-color: var(--footer-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
